<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Server" value="192.168.254.108" />
    <add key="CompanyDB" value="Enerlife" />
    <add key="language" value="ln_Chinese" />
    <add key="UseTrusted" value="False" />
    <add key="UserName" value="manager" />
    <add key="Password" value="123456" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="a1!" />
    <add key="DbServerType" value="dst_MSSQL2012" />
    <add key="LicenseServer" value="192.168.254.108:30000" />
    <add key="AnwUserName" value="minwen.lu@coresystems.ch  " />
    <add key="AnwUserPassword" value="Qq1234567" />
    <add key="SleepTime" value="180" />
    <!--<add key="AnwUserName" value="icehu555@qq.com" />
    <add key="AnwUserPassword" value="Everybody123" />-->
    <!--<add key="Server" value="172.12.21.20" />
    <add key="CompanyDB" value="testing" />
    <add key="language" value="ln_Chinese" />
    <add key="UseTrusted" value="False" />
    <add key="UserName" value="manager" />
    <add key="Password" value="1234" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="abcd@123" />
    <add key="DbServerType" value="dst_MSSQL2012" />
    <add key="LicenseServer" value="172.12.21.20:30000" />
    <add key="AnwUserName" value="alan010@vip.163.com" />
    <add key="AnwUserPassword" value="123456Qq" />
    <add key="SleepTime" value="180" />-->
  </appSettings>
</configuration>